Crunchbase Dataset.zip
.ipynb_checkpoints/
.env
.DS_Store
../.DS_Store
directory.csv
store-locations.zip
colesberlin
src/__pycache__/apiFour.cpython-38.pyc
src/__pycache__/scrap.cpython-38.pyc
src/scrap.py
../.DS_Store
.DS_Store